<h1>Admins homepage</h1>
<p>
    
        <button mat-raised-button color="primary" style="position: absolute; margin-right: 1cm; margin-left: 0.5cm;"><a style="color: aliceblue;" [routerLink]="['createCertificate']" >Create certificate </a></button>
    
</p>
<p>
    
        <button mat-raised-button color="primary" style="position: absolute;  margin-right: 1cm; margin-top: 1.5cm; margin-left: 0.5cm;"><a style="color: aliceblue;" [routerLink]="['showCertificates']" >Show certificate </a></button>
    
</p>
