<h1  style="text-align:center">Logging in</h1>
<form [formGroup]="loginForm" (submit)="onLogin()">
<div >
    <p style="text-align:center">
        <mat-form-field appearance="outline" >
            <mat-label>Username</mat-label>
            <input matInput type="text" placeholder="Username" formControlName="username">
        </mat-form-field>
    </p>
    <p style="text-align:center">
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
    </p>
</div>
<div  style="text-align:center" >
  <button  mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" *ngIf="!isUserLoggedIn()" >Log in</button>
</div>
</form>
<br>
<!--<div>
    <p style="text-align:center">If you don't have an acount:</p>
    <div style="text-align:center">
        <button  mat-stroked-button color color="accent" >Sing up</button>
    </div>
</div>-->